# Ignore node_modules in both client and server
client/node_modules/
server/node_modules/
compiler/node_modules/

# Ignore .env files
.env

# Logs
*.log

# IDE settings
.vscode/
.DS_Store

compiler/utils/codes
compiler/utils/outputs
compiler/utils/inputs   
